@page
@model caintDashboard.Pages.Comments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.id" />
            <div class="form-group">
                <label asp-for="Comment.name" class="control-label"></label>
                <input asp-for="Comment.name" class="form-control" />
                <span asp-validation-for="Comment.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.body" class="control-label"></label>
                <input asp-for="Comment.body" class="form-control" />
                <span asp-validation-for="Comment.body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.threadId" class="control-label"></label>
                <input asp-for="Comment.threadId" class="form-control" />
                <span asp-validation-for="Comment.threadId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Comment.approved" /> @Html.DisplayNameFor(model => model.Comment.approved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
