@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centreBit">
    <h1 class="display-4">Welcome to caint.casa delicious friend</h1>
    <p>This is the <a href="https://www.caint.casa">caint.casa</a> dashboard. Use the items in the bar above to manage your sites.</p>
    <p>If you have not set up a tenant name for your site, you can do that <a asp-page="/Tenants/Index">here.</a></p>
</div>
