@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the <a href="https://docs.microsoft.com/aspnet/core">caint.casa</a> dashboard. It's not really much use if you're not an admin of a caint.casa instance.</p>
    <p>If you have not set up a tenant name for your site, you can do that <a asp-page="/Tenants/Index">here.</a></p>
</div>
