@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the <a href="https://docs.microsoft.com/aspnet/core">caint.casa</a> dashboard. It's not really much use if you're not an admin of a caint.casa instance.</p>
</div>
