@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="centreBit">
    
    <h1>@ViewData["Title"]</h1>

    <p>Look, we keep minimal logs. We don't use analytics or anything. Just a very basic comment service.</p>
</div>
